@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 100 35% 98%;
    --foreground: 100 60% 0%;
    --muted: 220 17% 95%;
    --muted-foreground: 220 8% 36%;
    --popover: 100 35% 97%;
    --popover-foreground: 0 0% 0%;
    --card: 100 35% 97%;
    --card-foreground: 0 0% 0%;
    --border: 100 11% 93%;
    --input: 100 11% 93%;
    --primary: 100 16% 77%;
    --primary-foreground: 100 16% 17%;
    --secondary: 220 16% 77%;
    --secondary-foreground: 220 16% 17%;
    --accent: 340 16% 77%;
    --accent-foreground: 340 16% 17%;
    --destructive: 4 94% 31%;
    --destructive-foreground: 4 94% 91%;
    --ring: 100 16% 77%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 77 43% 4%;
    --foreground: 77 37% 99%;
    --muted: 257 22% 8%;
    --muted-foreground: 257 11% 67%;
    --popover: 77 43% 5%;
    --popover-foreground: 0 0% 100%;
    --card: 77 43% 5%;
    --card-foreground: 0 0% 100%;
    --border: 77 2% 14%;
    --input: 77 2% 14%;
    --primary: 77 8% 30%;
    --primary-foreground: 77 8% 90%;
    --secondary: 257 8% 30%;
    --secondary-foreground: 257 8% 90%;
    --accent: 257 8% 30%;
    --accent-foreground: 257 8% 90%;
    --destructive: 3 89% 48%;
    --destructive-foreground: 0 0% 100%;
    --ring: 77 8% 30%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}